.main {
  display: flex;
  max-width: var(--main-max-width);
  margin: 0 auto;
  padding: 0 var(--main-padding);
  padding-bottom: 80px;
  min-height: 100vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}